---
Title: "ubicacion"
---

<header 
id="nav-bar"
    class="fixed flex w-full justify-between px-21 h-25 items-center bg-[#1c2b37]"
    >
    <div>
        <a href="/">
            <img src="/public/logo-white2.jpg" width="200px" height="150px" alt="logo" />
        </a>
    </div>
    <nav class="flex flex-wrap gap-4">
        <a class='underline-animated' href="/">Inicio</a>
        <a class='underline-animated' href="/quienessomos">Quienes Somos</a>
        <a class='underline-animated' href="/contactos">Contactos</a>
        <a class='underline-animated' >Ubicacíon</a>
    </nav>
</header>
<style>
    #nav-bar{
        z-index: 1;
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 500px; 
    }
    @keyframes blur{
        to{
            color:rgb(231, 235, 239);
            box-shadow: 
                0px 5px 50px -5px hsla(240, 9%, 98%, 0.465),
                0px 0px 0px 1px hsla(203, 71%, 73%, 0.317);
            background: rgba(9, 150, 181, 0.58);
            backdrop-filter: blur(10px);
        }
    }
    @keyframes underlineAnimation{
        from{
            width: 0;
            opacity: o;
        }
        to{
            width: 100%;
            opacity: 1;
        }
            
    }
    .underline-animated{
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    .underline-animated::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: currentColor;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom left;
    }
    .underline-animated:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
</style>

<section class="pt-32">
    <div class="text-center mb-16">
        <h3 class="text-[#143549] text-5xl font-semibold">
        Por el momento no contamos con un showrrom al cual dirigirse para ver nuestros productos.
                Enviamos Catalogo por Whatsapp
                <br>

            </br>
        </h3>           
        
        <h1></h1>
            <h3 class="text-[#143549] text-5xl font-semibold">
            Cualquier consulta puede contactarnos por nuestros medios que se encuentran en la seccion de Contactos.
            <br>

    </br>
        </h3>
            <h1></h1>
            <h3 class="text-[#143549] text-5xl font-semibold">
               
            Localidades Visitadas semanalmente: San Miguel de Tucuman, Tafi viejo, Trancas, San Pedro de colalao.
            <br>

        </br>
            Horarios de 9 a 14.
            </h3>
            <br>

    </br>
            <h3 class="text-[#143549] text-5xl font-semibold">
            Puede encontrarnos en numeros de telefono o  mail a toda hora, recibira nuestras respuestas en la mayor brevedad posible.
        </h3>
    </div>
</section>