---
import ArrowRight from "./icon/ArrowRight.astro";
const { producto } = Astro.props;
---


<div id="carrusel" class="h-full w-[400px] m-2 flex-shrink-0 cursor-pointer">
    <div
      class="rounded-3xl overflow-hidden mb-4 h-[250px] relative top-0 left-0 img-brillo">
      <img
        class="size-[100%] object-cover absolute"
        src= {`/imgProductos/producto-${producto.id}.jpeg`} alt={producto.id}
        />
      <!-- <span
        class="absolute flex gap-2 top-3 left-4 border border-white text-xs rounded-xl px-4 py-2 font-semibold hover:bg-white hover:text-black">
        WSP
        <ArrowRight />   
      </span> -->
    </div>

    <div class="flex flex-col gap-4">
        <div class="gap-4 border-b-[1px] border-gray-400">
          <div class="flex items-center gap-2">
</div>
    <h5 class="text-2xl capitalize font-semibold">{producto.tipo}</h5>
    <h5 class="text-xl capitalize font-semibold">     
</h5>

</div> 
<style>
    .img-brillo::after {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      transform: skewX(-20deg);
    }
    .img-brillo img {
      transition: transform 0.5s;
    }
    .img-brillo:hover {
      img {
        transform: scale(1.1);
      }
    }
  
    .img-brillo:hover:after {
      animation: imgBrillo 1s;
    }
  
    @keyframes imgBrillo {
      100% {
        left: 125%;
      }
    }
  </style>

  <a 
  href="http://wa.me/543516069431?text=Hola, podria enviar el catalogo de productos" target="_blank" >
    <img  src ="icon/ArrowRight.astro"
    class="absolute flex gap-2 top-3 left-4 border border-white text-xs rounded-xl px-4 py-2 font-semibold hover:bg-white hover:text-black">
    WSP <ArrowRight />  
  </a>


