---

---
<section>
    <video class="w-50% h-screen object-cover object-top brightness-75" src="/public/hero-video.mp4" autoplay muted loop>

    </video>
    <div
        class="absolute inset-0 flex flex-col items-center justify-center gap-40"
    >
    <h1 class="text-5xl font-bold">
        Algunos de nuestros productos
    </h1>
    </div>
</section>